main {
  background-color: #F5F5F5;
  height: 470px;
  width: 88vw;
  margin: 10vh auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p {
  margin-block: 0.4rem;
  font-size: 13px;
}
.dice {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 24px;
  margin: 2rem auto 1rem;
}
.die {
  height: 50px;
  width: 50px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.die.green {
  background-color: #59E391;
}
.button {
  background-color: #5035FF;
  color: white;
  font-weight: 700;
  padding: 12px 40px;
  margin-bottom: 1.5rem;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.button:hover {
  background-color: #5035ffe3;
}
